html { overflow: hidden }
body { background-color: #252525 }

.column.column-center { margin: 0 auto }

.text-center { text-align: center;}
.text-bold { font-weight: bold }
.text-white { color: #FFF }

.text-white::-webkit-input-placeholder { color: rgb(185, 185, 185) }
.text-white::-moz-placeholder { color: rgb(185, 185, 185) }
.text-white::placeholder { color: rgb(185, 185, 185) }

.input-field:focus { border-color: #FFF !important }
.input-field { border-color: #414141 }

.button.button-primary {
    border: 0.1rem solid #ff0000;
    background-color: #ff0000;
    margin: 10px 0;
}

.button.button-primary:hover {
    border: 0.1rem solid #414141;
    background-color: #414141;
}

.button.button-primary.button-disabled {
    border: 0.1rem solid #252525;
    background-color: #252525;
    color: #414141;
    cursor: default;    
}